body {
  padding: 0;
  margin: 0;
}
html, body {
  height: 100%;
  width: 100vw;
  position: relative;
  overflow: hidden;
}

.preload {
  transition:none !important;
 }

#map {
  height: 100%;
  width: 100vw;
  position: absolute;
}

.day {
  background-color: #faf3eb4a;
  animation: sunrise 10s;
}

.night {
  background-color: #6a6d75;
  animation: sunset 10s;
}

.timeday {
  color: #5d6a8b;
  animation: timesunrise 10s;
}

.timenight {
  color: #fff;
  animation: timesunset 10s;
}

#time {
	text-align: center;
	padding: 15px 20px;
	font-size: 30px;
	height: auto;
	font-family: arial,sans-serif;
	margin-top: 0;
	margin-bottom: auto;
	z-index: 1;
	width: 100%;
  position: absolute;
  background: rgb(106, 109, 117, .05);
  font-family: mono
}

@keyframes sunrise {
  from {background-color: #6a6d75;}
  to {background-color: #faf3eb4a;}
}

@keyframes timesunrise {
  to {color: #5d6a8b;}
  from {color: #fff;}
}

@keyframes sunset {
  from {background-color: #faf3eb4a;}
  to {background-color: #6a6d75;}
}

@keyframes timesunset {
  to {color: #fff;}
  from {color: #5d6a8b;}
}